/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */


@import url('https://fonts.googleapis.com/css?family=Roboto:700|Press+Start+2P');

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

#root{
  background-color: #FFDEE9;
  background-image: linear-gradient(0deg, #FFDEE9 0%, #B5FFFC 100%);
   min-height: 100vh;
   overflow: hidden;
 }

 .app-wrapper{
  border: 2px solid black;
  border-radius: 2%;
  width: 40%;
  height: 65%;
  margin: 8em auto;
  text-align: center;
 }

 /* .calculator__display{
  border: 1px solid rgba(0,0,255, 0.1);
  border-radius: 1.5%;
  padding: 1rem 0.75rem;
  text-align: right;
  width: 98%;
  margin-top: 0.9%;
  margin-left: 1%;
  margin-right: 1%;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  background-color: rgba(0,0,255, 0.1);
 } */

 .calculator_button{
   margin-top: 1%;
 }

 .groupOne, .groupTwo, .groupThree, .groupFour, .groupFive{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: .1rem;
 }

.groupFive{
  margin-bottom: .2rem;
}

 .tierTwo{
  height: 4rem;
  width: 49%;
  }

 .key--operator, .key--equal{
  background-color: #FBAB7E;
  background-image: linear-gradient(315deg, #FBAB7E 0%, #F7CE68 74%);
  border: 1px solid #FBAB7E;
 }

 .tierOne, .key--operator, .key--equal{
  height: 4rem;
  width: 24.5%;
  border-radius: 1%;
  margin-left: .1rem;
 }

 .tierOne, .tierTwo{
   background-color: #d9d9d9;
   background-image: linear-gradient(315deg, #d9d9d9 0%, #f6f2f2 74%);
   border: 1px solid gray;
 }

 .tierOne, .tierTwo, .key--operator, .key--equal:hover{
    cursor: pointer;
 }

 .tierOne, .tierTwo, .key--operator, .key--equal{
    font-size: 1rem;
    font-weight: bolder;
 }


/* FRESH */


/* DISPLAY */

.calculator__display{
  /* border: 1px solid rgba(0,0,255, 0.1); */
  border-radius: 1.5%;
  padding: 1rem 0.75rem;
  text-align: right;
  width: 72%;
  margin: 0 auto;
  font-family: 'Press Start 2P', cursive;
  font-size: 2rem;
  background-color: rgba(0,0,255, 0.1);
  margin-bottom: .3rem;
  margin-top: .3rem;
 }



/* TOP-PANEL */

.operator-wrapper{

  display: flex;
  flex-direction: row;
  justify-content: center;
}

button.operator {
  outline: none;
}

.operator-wrapper > .operator {
  border: 1px solid #a39594;
  width: 6rem;
  height: 3.5rem;
  border-radius: .3rem;
  margin-left: .25rem;
  margin-bottom: .35rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px #6e675f;
}

.operator-wrapper > .operator:hover{
  box-shadow: 0 2px #63675f;
  top: 1px;
}

.operator-wrapper > .operator:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;
}

.operator-wrapper > #subtract{
  border: 1px solid #a39594;
  height: 3.5rem;
  border-radius: .3rem;
  /* margin-left: .5rem; */
  /* margin-bottom: .5rem; */
  margin-right: .7rem;
  width: 5rem;
  margin-bottom: .35rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px #6e675f;

}



.operator-wrapper > #subtract:hover{
  box-shadow: 0 2px #63675f;
  top: 1px;
}

.operator-wrapper > #subtract:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;
}

button.all-clear {
  outline: none;
}

.operator-wrapper > .all-clear {
  /* border: 1px solid #edebd7; */
  border: 1px solid #a39594;
  width: 6rem;
  height: 3.5rem;
  border-radius: .3rem;
  margin-left: .6rem;
  margin-bottom: .35rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px #6e675f;
}


.operator-wrapper > .all-clear:hover{
  box-shadow: 0 2px #63675f;
  top: 1px;
}

.operator-wrapper > .all-clear:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;

}

button.decimal {
  outline: none;
}

.operator-wrapper > .decimal {
  border: 1px solid #a39594;
  width: 6rem;
  height: 3.5rem;
  border-radius: .3rem;
  margin-left: .25rem;
  margin-bottom: .35rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px #6e675f;
}

.operator-wrapper > .decimal:hover{
  box-shadow: 0 2px #63675f;
  top: 1px;
}

.operator-wrapper > .decimal:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;
}



/* BUTTON-PANEL */


.panel-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.num-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 57%;

}


.other-wrapper{
  display: flex;
  flex-direction: column;
  /* border: 1px solid red; */
  width: 15%;
  margin-left: .35rem;
}

button.number{
  outline: none;
}

.number{
  border: 1px solid #a39594;
  width: 6rem;
  height: 3.5rem;
  border-radius: .3rem;
  margin-bottom: .35rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px #6e675f;
}

.number:hover{
  box-shadow: 0 2px #63675f;
  top: 1px;
}

.number:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;
}

/* .number:last-child{
  margin-bottom: 5rem;
} */


#zero{
  margin-top: .1rem;
  margin-bottom: .35rem;
  width: 100%;
}

#multiply, #add {
  height: 3.5rem;
  /* border: 1px solid black; */
  border: 1px solid #a39594;
  margin-bottom: .35rem;
  border-radius: .3rem;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px #6e675f;
}

#multiply:hover {
  box-shadow: 0 2px #63675f;
  top: 1px;
}

#add:hover {
  box-shadow: 0 2px #63675f;
  top: 1px;
}


#multiply:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;
}

#add:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;
}

#equals{
  height: 7.5rem;
  /* border: 1px solid black; */
  border: 1px solid #a39594;
  margin-bottom: .35rem;
  border-radius: .3rem;
  background-color: aqua;
  cursor: pointer;
  position: relative;
  box-shadow: 0 4px #6e675f;
}

#equals:hover {
  box-shadow: 0 2px #63675f;
  top: 1px;
}


#equals:active{
  box-shadow: none;
  top: 4px;
  background-color: #e3b23c;
}




